html,
body {
  scale: 100%;
  margin: 0px;
}

body {
  font-family: sans-serif;
  padding-bottom: 150px;
  line-height: 1.5;
  min-height: 100%;
  position: relative;
  margin: 0px;
}

footer {
  background-color: gray;
  bottom: 0px;
}

.footer {
  position: absolute;
  bottom: 0px;
  height: 150px;
  line-height: 3rem;
  background-color: grey;
  width: 100%;
  z-index: 99 !important;
  align-self: center;
  left: 0;
  overflow: hidden;
}
h5 {
  margin-top: 1rem;
  margin-bottom: -10px;
}

#link {
  margin-top: -100px;
  margin-bottom: -100px;
  text-decoration-line: none;
}
a {
  text-decoration-color: rgb(211, 211, 211);
  text-decoration-line: none;
}

#list {
  margin-bottom: -20px;
}
