body {
  font-family: sans-serif;
  margin-bottom: 60px;
  line-height: 1.5;
  background-color: red;
}

footer {
  background-color: gray;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 60;
  line-height: 60px;
  background-color: grey;
  width: 100%;
}
h5 {
  margin-top: 10px;
  margin-bottom: -10px;
}

#link {
  margin-top: -100px;
  margin-bottom: -100px;
  text-decoration-line: none;
}
a {
  text-decoration-color: rgb(211, 211, 211);
  text-decoration-line: none;
}

#list {
  margin-bottom: -20px;
}
